#typing {

    width: 0ch;
    color: white;
    float: left;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 5s steps(25) 1s infinite alternate;
}
#typing span{
color:rgb(225, 248, 39);}

#crow {
    float: left;

color: white;
    font-family: consolas;
    font-weight:bold;
    font-size: 25px;
    animation: crow 0.5s linear 0s infinite;
}
@keyframes typing {
    from {
        width: 0ch;
    }
    to {
        width: 30ch;
    }
}
@keyframes crow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


#title{
    background-color: rgb(0, 6, 5);
}
body{
    font-family: 'Times New Roman',serif;
    font-size: large;
}
.nav-item{
    padding: 0 20px;
}
#features{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
    padding: 4%;
    color: rgb(1, 1, 15);
}
.icon{
    color: rgb(207, 53, 14);
    margin-bottom: 1rem;
}
.icon:hover{
    color: rgb(44, 18, 6);

}
.carousel-item{
    height: 300px;
}
.bemlo{
   background-color: black;
    overflow: hidden;
    text-align: center;
   padding-right: 50px;
   padding-bottom: 40px;
   
}

.bemlo-world{
   
    align-items: center;
    margin-top: 60px;
    padding-top: 20px;
}
.hii{
    color: rgb(157, 255, 0);
}
.logo{
    color: orangered;
}
.logo:hover{
    color: greenyellow
}
.font-color{
    color: greenyellow;
}
